<h1>Create Invoice</h1>
<hr>
<div class="row">
  <div class="col s4">
    <form (ngSubmit)="onSubmit()" #itemForm="ngForm">
    <h3>Items</h3>
    <hr>
    <label>Select item</label>
    <br>
    
    <select [(ngModel)] ="CurrentItem"  name="slcCurItem">
        <option *ngFor="let item of items$" [ngValue]="item">{{item.Name}}</option>
   </select>
    <br>
    <label>Qty</label>
    <br>
    <input type="number" [(ngModel)]="CurrentQty" name="txtQty">
    <br>
    <button type="submit">Add Item</button>
  </form>
  </div>
  <div class="col s8">
    <div *ngFor="let item of addedItems$">
      <ul>
        <li>ID : {{item.ID}}</li>
        <li>Name : {{item.Name}}</li>
        <li>Qty : {{item.Qty}}</li>
      </ul>
    </div>
  </div>
  <form (ngSubmit)="saveInvoice()" #invForm="ngForm">
    <hr>
    <input type="number" [(ngModel)]="discount" name="txtDiscount">
    <button type="submit">Save Invoice</button>
  </form>
  
</div>